body{
    background-image: linear-gradient(to bottom right,  #f6ead4, #a2a595, #b4a284);
   height: 100vh;
}
.row {
    margin: 6% 5% 0 5%;
    padding: 2% 6% 0 6%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
}
h2{
    text-align: center;
   margin-bottom: 25px;
   text-shadow: 2px 2px 1px rgba(128, 125, 125, 0.877);
}
.img-wrap{
   width: 100%;
}
.img-wrap img{
   width: 100%;  
   padding: 10px;
   border-radius: 50%;
   box-shadow: 0 0 10px #999999;
}

@media only screen and (max-width: 768px) {
    body {
        height: 150vh;
        align-items: flex-start;
    }

    .row {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .col-sm-5 {
        order: -1;
        max-width: 100%;
        flex: 0 0 80%;
    }

    .img-wrap {
        border-radius: 30%;
    }
}