* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: century-gothic, sans-serif;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url(../img/radiant-gradient.svg); /* background by SVGBackgrounds.com */
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.col-sm-5 {
  flex: 0 0 44%;
}

.row {
  margin: 2% 6% 2% 6%;
  padding: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  text-shadow: 2px 2px 1px rgba(128, 125, 125, 0.877);
  font-size: 1.5rem;
  font-weight: bold;
}

.img-wrap {
  width: 100%;
}

.img-wrap img {
  width: 100%;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 10px #999999;
  transition: all 2s ease-in-out;
  opacity: 0.8;
}

.img-wrap img:hover {
  transform: scale(1.2, 1.1);
  opacity: 1;
}

@media only screen and (max-width: 1080px) {
  body {
    height: 140vh;
  }
}

@media only screen and (max-width: 768px) {
  body {
    height: 170vh;
    align-items: flex-start;
  }

  .row {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .col-sm-5 {
    order: -1;
    max-width: 100%;
    flex: 0 0 80%;
  }

  .img-wrap {
    border-radius: 30%;
  }
}
