* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: century gothic;
}

.navbar-dark {
  background-color: #063247;
}

.dropdown-menu {
  background-color: #1174a286;
  transition: all 1s ease-out;
}

.nav-link:hover {
  color: #23dbdb !important;
}

.dropdown-item {
  color: #fff;
} 

.dropdown-item:hover {
  background-color: #063247;
  color: #23dbdb;
}

.jumbotron {
  height: 60vh;
  background-image: url('../img/protruding-squares.svg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron h1 {
  color: #fff;
  font-size: 4em;
  /* position: absolute;
  top: 45%; 
  right: 50%;
  transform: translate(50%,-50%); */
  text-transform: uppercase;
  font-family: verdana;
  /* font-size: 12em; */
  font-weight: 600;
  color: #ffffff;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.btn-grou {
  margin: 1% 10% 0 10%;
  width: 80%;
  display: flex;
  flex-flow: row;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  font-size: 1.1em;
  color: #fff;
  background-color: #0C628B;
  transition: .4s ease-out;
  height: 10vh;
  margin-left: 10%;
  width: 20%;
  border-radius: 10%;
  transition: all 1s ease-in-out;
}

.btn:hover {
  transform: scale(1.1, 1.1);
  background-color: #2aaae6;
}

.carousel-title {
  text-decoration: none !important;
  color: #fff !important;
}

footer {
  background-color: #0C628B;
  margin-top: 4%;
}

.text-center.p-3 {
  background-color: #063247;
}

.list-unstyled a {
  text-decoration: none;
}

.list-unstyled a:hover {
  color: #23dbdb;
  text-shadow: 2px 2px 8px #FF0000;
  color: #37ecec !important;
}

@media screen and (max-width: 968px) {
  .btn-grou {
      flex-flow: column;  
  }

  .btn {
      width: 40%;
      margin: 2% 30% 1% 30%;
  }
}

@media all and (min-width: 992px) {
.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
.navbar .nav-item:hover .nav-link{ color: #fff;  }
.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
.navbar .dropdown-menu.fade-up{ top:180%;  }
.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}