.slide {
  margin: 3% 0 0 0;
  width: 60%;
  margin-left: 20%;
}

.carousel-item {
  background-color: #063247;
  height: 32rem;
  color: #fff;
  font-weight: bold;
  position: relative;
  background-position: center;
  background-size: cover;
}

.carousel-item:hover {
  cursor: pointer;
}

.contain-carousel-item {
  position: absolute;
  bottom: 0;
  left: 15%;
  right: 0;
  padding-bottom: 6%;
}

.contain-carousel-item a {
  text-decoration: none !important;
  color: #fff;
}

.contain-carousel-item a:hover {
  color: #23dbdb;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  transition: all 2s ease-in-out;
  opacity: 0.5;
}

.overlay-image:hover {
  transform: scale(1.5, 1.5);
  opacity: 0.7;
}