* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(to bottom left, #f6ead4, #a2a595, #b4a284);
  height: 100%;
  background-attachment: fixed;
}
.back-button {
  border: none;
}

.back {
  border: 2px solid #fff;
  background-color: #ddd;
  margin: 3% 0 0 6%;
  transition: 0.6s ease;
  width: 50px;
  height: 30px;
}

.back:hover {
  background-color: #fff;
  color: #000;
}
.header {
  margin: 3%;
  border-radius: 20px 20px 30px 23px;
  margin-bottom: 25px;
  text-shadow: 2px 2px 1px rgb(128 125 125 / 88%);
}
.header h2,
p {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.single-album {
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px #000;
  border-radius: 20px 20px 30px 23px;
}
.album-img {
  position: relative;
  overflow: hidden;
}
.album-img img {
  width: 100%;
  transition: 0.4s;
}
.single-album:hover .album-img img {
  transform: scale(1.5, 1.5);
}
.album-content {
  height: 90px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  transform: 0.4s;
  background: #e430c5a8;
}
.single-album:hover .album-content {
  height: 170px;
  background: #000;
}
.album-info {
  transform: all 0.5s;
  padding: 5px 20px 5px 20px;
}
.album-info h3 {
  font-size: 16px;
  color: #fff;
  margin: 5px;
  text-transform: uppercase;
}
.single-album:hover .album-info h3 {
  color: tomato;
}
.album-info p {
  color: #fff;
  margin-top: 15px;
}
.album-text {
  color: #fff;
  padding: 0 10px 5px;
}
.album-content a {
  color: white;
  font-size: 19px;
  font-family: century gothic;
  padding: 0 10px 5px;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

[class*="col"] {
  width: 60%;
  margin-left: 20%;
  margin-bottom: 2%;
}

@media only screen and (min-width: 600px) {
  [class*="col"] {
    width: 44%;
    margin-left: 4%;
  }
}

@media only screen and (min-width: 868px) {
  [class*="col"] {
    width: 20%;
    margin-left: 4%;
  }
}

.col-md-12 {
  width: 50%;
  margin-left: 25%;
}
